.app-container {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.weather-header {
  margin-bottom: 1rem;
}

.app-title {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.data-location {
  margin: 0;
  font-size: 0.9rem;
}

.data-location a {
  text-decoration: underline;
}


.weather-main {
  padding: 2rem 0;
}

.weather-location {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.current-sol {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.current-sol-number {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.current-sol-content {
  margin-bottom: 1.5rem;
}

.current-sol-temp {
  font-size: 6rem;
  font-weight: bolder;
  line-height: 1;
  padding: 2rem 0;
}

.current-sol-temp-range {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.current-sol-metrics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
}

.current-sol-metric {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.current-metric-label {
  font-size: 0.85rem;
  font-weight: 400;
}

.current-metric-value {
  font-size: 1.1rem;
  font-weight: 400;
}

.sols-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.sols-table thead {
  text-align: left;
}

.sols-table th {
  font-weight: 400;
  font-size: 0.85rem;
  padding: 0.5rem 1rem 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sols-table tbody tr {
  border: none;
}

.sols-table td {
  padding: 0.75rem 1rem 0.75rem 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}